@charset "UTF-8";
body {
	background-image: url('../images/index_bg.png');
	background-repeat: no-repeat;
	background-size: 1024px 768px
}
#page {
	position: absolute;
	left: 0;
	top: 0;
	width: 1024px;
	height: 768px;
	/*background-image: url('../images/chart.png');*/
	background-size: 1024px 768px;
	background-repeat: no-repeat
}
#design-pop-up {
	position: absolute;
	left: 0;
	top: 0;
	width: 1024px;
	height: 768px;
	background-image: url('../images/status4_yj_bg.png');
	background-size: 1024px 768px;
	background-repeat: no-repeat
}
<!--弹弹弹弹弹弹弹弹弹弹弹弹弹弹-->
div#design-pop-up > .design-content {
	position: absolute;
	width: 865px;
	height: 433px;
	top: 227px;
	left: 95px;
	overflow: hidden
}
#design-pop-up >.close-button {
	position: absolute;
	right: 10px;
	top: 105px;
	width: 42px;
	height: 42px;
	background-size: 42px 42px;
	background-repeat: no-repeat;
	-webkit-transition: opacity 0.3s;
	opacity: 0
}
#design-pop-up >.close-button.pressed {
	opacity: 1
}


#navigation-bar{ width:100%; height:42px; background:url(../images/navigation-bar%E2%80%94_bg.png) no-repeat; position:relative; left:0; top:64px; overflow:hidden;}
.status2_b,.status3_b,.status4_b{ position:absolute; top:138px; left:60px;}
.status2_page1{ position:absolute; top:192px; left:138px; width:378px; height:450px;}
.status2_page2{ position:absolute; top:192px; left:516px; width:378px; height:450px;}
.return_btn{ position:absolute; bottom:92px; right:34px;cursor:pointer;}
.status3_p{ position:absolute; top:255px; left:386px;}
.status3_page1{ width:300px; height:330px; position:absolute; left:46px; top:294px;}
.status3_page2{ width:300px; height:330px; position:absolute; left:352px; top:294px;}
.status3_page3{ width:300px; height:330px; position:absolute; left:655px; top:294px;}
.status4_research{ position:absolute; bottom:67px; right:34px; cursor:pointer;}

