@charset "UTF-8";
body {
	background-image: url('../images/background2.png');
	background-repeat: no-repeat;
	background-size: 1024px 768px
}
#page {
	position: absolute;
	left: 0;
	top: 0;
	width: 1024px;
	height: 768px;
	/*background-image: url('../images/chart.png');*/
	background-size: 1024px 768px;
	background-repeat: no-repeat
}
#design-pop-up {
	position: absolute;
	left: 0;
	top: 0;
	width: 1024px;
	height: 768px;
	background-image: url('../images/design.png');
	background-size: 1024px 768px;
	background-repeat: no-repeat
}
<!--弹弹弹弹弹弹弹弹弹弹弹弹弹弹-->
div#design-pop-up > .design-content {
	position: absolute;
	width: 865px;
	height: 433px;
	top: 227px;
	left: 95px;
	overflow: hidden
}
#design-pop-up >.close-button {
	position: absolute;
	right: 10px;
	top: 105px;
	width: 42px;
	height: 42px;
	background-size: 42px 42px;
	background-repeat: no-repeat;
	-webkit-transition: opacity 0.3s;
	opacity: 0
}
#design-pop-up >.close-button.pressed {
	opacity: 1
}


#navigation-bar{ width:100%; height:42px; background:url(../images/navigation-bar_bg_4.png) no-repeat; position:relative; left:0; top:64px; overflow:hidden;}



.safety2_b{ position:absolute; left:60px; top:138px;}
.safety2_p1{ position:absolute; left:144px; top:214px;}
.safety2_p2{ position:absolute; left:792px; top:214px;}
.safety2_list1,.safety2_list2,.safety2_list3{ position:absolute; left:60px; top:260px;}
.safety2_show1,.safety3_show1,.safety4_show1{ position:absolute; left:208px; top:277px; opacity:0;}
.safety2_show2,.safety3_show2{ position:absolute; left:190px; top:298px; opacity:0;}
.safety4_show2{ position:absolute;left:188px; top:270px; opacity:0;}
.key_bo3 {bottom: 47px;left: 447px; position:absolute;}
#safety2_btn{ position:absolute; left:60px; top:606px; background:url(../images/safety2_btn.png) 0 0  no-repeat; width:890px; height:34px;}
#safety2_btn.n1 { background-position:0 -34px}
.fat_btn{ width:295px; height:35px; cursor:pointer; position:absolute; left:60px; top:606px; z-index:3;}
.Protein_btn{width:295px; height:35px;cursor:pointer;position:absolute; left:358px; top:606px; z-index:3;}
.Lactose_btn{width:295px; height:35px;cursor:pointer;position:absolute; left:656px; top:606px; z-index:3;}
.status4_research{ position:absolute; bottom:67px; right:34px; cursor:pointer; z-index:3;}